<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>459643276193-ku1mfemaigeihvmst7h0l58lh2lp64po.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459643276193-ku1mfemaigeihvmst7h0l58lh2lp64po</string>
	<key>API_KEY</key>
	<string>AIzaSyDMCuidaGIRZf83jIWVN0AEQ8cec2u7SAw</string>
	<key>GCM_SENDER_ID</key>
	<string>459643276193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mlgrier.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-994ae</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-994ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:459643276193:ios:debde7f32b809c60</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-994ae.firebaseio.com</string>
</dict>
</plist>
